.btnPerso {
  background-color: #383b87;
  color: white;
  border-color: #383b87;
  margin-left: 2rem;
  margin-right: 2rem;
}

.btn:hover {
  background-color: #383b8700;
  color: #383b87;
  border-color: #383b87;
}

.bgCard {
  background-color: #e2e2e213;
}

.btnDirection {
  background-color: #323131;
  color: white;
  border-color: #323131;
  margin-left: 2rem;
  margin-right: 2rem;
}

.btnDirection:hover {
  background-color: #ffffff00;
  color: #323131;
  border-color: #323131;
}

/* swiper */
/* #app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
} */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination {
  display: none;
}

.nav-pills .nav-link.active {
  background-color: #383b87;
}

.nav-pills {
  --bs-link-color: black;
  --bs-link-hover-color: #383b87;
}

.backdrop-spinner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #323131c2;
  backdrop-filter: blur(3px);
  height: 100%;
  width: 100%;
  z-index: 9000;
}
